* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: monospace;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: monospace;
    font-size: 20px;
}

header div ul {
    list-style-type: circle;
}

header div ul li {
    display: inline-flex;
    margin-left: 10px;
}

.group-picture-image {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.blue-text-boxes {
    width: 70%;
    display: inline-block;
    margin-left: 20px;
}

.homepage-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: monospace;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimazation {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: monospace;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: monospace;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: monospace;
    background-color: #0072bb;
    color: #ffffff;
}

.homepage-content img {
    max-height: 200px;
}

.homepage-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Horiseon {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: monospace;
    background-color: #2589bd;
}

.Horiseon-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.Horiseon-content h4 {
    margin-bottom: 10px;
    text-align: center;
}

.Horiseon-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: monospace;
    text-align: center;
}

footer h3 {
    font-size: 14px;